body {
	padding-left: 15px;
	padding-right: 15px;
}
.error {
	color: red;
}
.success {
	color: green;
}
.tab-content {
	padding-top: 15px;
}
table td, table th {
	padding: 10px;
}
.submitLink {
	background-color: transparent;
	text-decoration: underline;
	border: none;
	color: blue;
	cursor: pointer;
}