body {
	padding-left: 15px;
	padding-right: 15px;
}
.error {
	color: red;
}
.success {
	color: green;
}
.tab-content {
	padding-top: 15px;
}
td {
	padding-left: 10px;
	padding-right: 10px;
}